<div class="container">
	<form>
    			<div class="form-group">
			      <label for="project">project:</label>
			      <input type="text" class="form-control" id="project" placeholder="Enter project" ng-model="data.project">
    			</div>
			    <div class="form-group">
			      <label for="department">department:</label>
			      <input type="text" class="form-control" id="department" placeholder="Enter department" ng-model="data.department">
			    </div>
			    <div class="form-group">
			      <label for="issueType">issueType:</label>
			      <input type="text" class="form-control" id="issueType" placeholder="Enter issueType" ng-model="data.issueType">
    			</div>
			    <div class="form-group">
			      <label for="summary">summary:</label>
			      <input type="text" class="form-control" id="summary" placeholder="Enter summary" ng-model="data.summary">
			    </div>
			     <div class="form-group">
			      <label for="description">description:</label>
			      <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="data.description">
    			</div>
			    <div class="form-group">
			      <label for="priority">priority:</label>
			      <input type="text" class="form-control" id="priority" placeholder="Enter priority" ng-model="data.priority">
			    </div>
			    <div class="form-group">
			      <label for="createdDate">createdDate:</label>
			      <input type="text" class="form-control" id="createdDate" placeholder="Enter createdDate" ng-model="data.createdDate">
    			</div>
			
			    <div class="form-group">
			      <label for="dueDate">dueDate:</label>
			      <input type="text" class="form-control" id="dueDate" placeholder="Enter dueDate" ng-model="data.dueDate">
    			</div>
			    <div class="form-group">
			      <label for="status">status:</label>
			      <input type="text" class="form-control" id="status" placeholder="Enter status" ng-model="data.status">
			    </div>
			    <div class="form-group">
			      <label for="note">note:</label>
			      <input type="text" class="form-control" id="note" placeholder="Enter note" ng-model="data.note">
    			</div>
			    <div class="form-group">
			      <label for="attachment">attachment:</label>
			      <input type="text" class="form-control" id="attachment" placeholder="Enter attachment" ng-model="data.attachment">
			    </div>
			     <div class="form-group">
			      <label for="assignTo">assignTo:</label>
			      <input type="text" class="form-control" id="assignTo" placeholder="Enter assignTo" ng-model="data.assignTo">
    			</div>
	
			   
		    <button type="submit" class="btn btn-default" ng-click="updateform()" ui-sref="/gettable">Submit</button>
		  </form> 
		 
</div>